<!DOCTYPE html>
<html>
<head>
    <title>{{x1}}</title>
</head>
<body link="white" alink="white" vlink="silver" bgcolor="darkseagreen" text="white" background="fon_i.jpg">
    <table border="0" width="100%" height="100%" cellpadding="14">
        <tr>
            <td height="10%" width="15%">
                <a href="/index"><img src="znak1.png" align="middle" title="Главная" width="75" height="50" hspace="6"></a>
            </td>
            <td height="10%" width="85%" valign="middle"> <font size="6"><center>Добро пожаловать в Книжную Полку!</center></font> <br></td>
        </tr>
        <tr>
            <td height="90%" width="15%" valign="top">
                <br><br>
                    <a href="/{{book1.Название}}">{{book1.Название}}</a><br>
                <br><a href="/{{book2.Название}}">{{book2.Название}} </a><br>
                <br><a href="/{{book3.Название}}">{{book3.Название}} </a><br>
            </td>
            <td height="90%" width="85%" valign="top" bgcolor="white">
                <br> <br>
                <style>
                    p {
                        line-height: 0.9 em
                    }
                </style>
                <ol>
                    <font align="left" color="black" size="5">
                        <p>
                            Книги - неотъемлемая часть жизни. Каждый день создаются новые произведения, и они нравятся людям.
                            Есть классика, которая не исчерпывает свое значение уже многие годы и столетия. Но не все они достойны
                            пристального внимания. Тем не менее есть книги, мимо которых невозможно пройти.
                            Мы собрали список выдающихся произведений которые не подвластны времени, признаны и любимы не
                            одним поколением экспертов и читателей, поднимают жизненно важные вопросы, которые формируют
                            личность и повышают духовный уровень человека. Думается, это именно те книги, которые должен
                            прочитать каждый. Многие из этих книг вы наверняка уже читали, и какие-то из них вам наверняка
                            захочется прочесть еще раз. Как известно, гениальные произведения таят в себе невероятное количество
                            подтекстов. Уловить и понять их дано не каждому и то только после того, как мы приобретем необходимый
                            жизненный опыт. Попробуйте прочесть знакомую классику вновь – и вы удивитесь новым открытиям.
                        </p>
                    </font>
                    <!-- <font color="black"><img src="font1.jpg" height="84" width="500"> -->
                    <ul type="none">
                        <li>
                            <font size="10" face="BrushType" color="black"><b>{{book1.Название}}</b></font>
                        </li>
                        <a href="/{{book1.Название}}"><img src="{{book1.Изображение}}" height="200" width="125" title="{{book1.Название}}" align="left" hspace="20" vspace="20"></a> <!-- <font color="#FF9900">Михаил Афанасьевич Булгаков</font> -->
                       

                        <font size="4"><a href="/{{book1.Название}}" style="color: #ff8c00">Узнать больше...</a></font>

                        <br clear="all">

                        <!-- <br clear="all"><img src="font1.jpg" height="84" width="500"> -->
                        <li>
                            <font size="10" face="BrushType" color="black"><b>{{book2.Название}}</b></font>
                        </li>
                        <a href="/{{book2.Название}}"><img src="{{book2.Изображение}}" height="200" width="125" title="{{book2.Изображение}}" align="left" hspace="20" vspace="20"> </a> <!-- <font color="#FF9900">Антуан де Сент-Экзюпери</font> -->
                        
                        <font size="4"><a href="/{{book2.Название}}" style="color: #ff8c00">Узнать больше...</a></font>
                        <br clear="all">
                        <li>
                            <font size="10" face="BrushType" color="black"><b>{{book3.Название}}</b></font>
                        </li>
                        <a href="/{{book3.Название}}"><img src="{{book3.Изображение}}" height="200" width="125" title="{{book3.Название}}" align="left" hspace="20" vspace="20"></a> <!-- <font color="#FF9900">Джордж Оруэлл</font> -->
                      
                        <font size="4"><a href="/{{book3.Название}}" style="color: #ff8c00">Узнать больше...</a></font>
                        <br clear="all">
                        <li>
                
                        <br clear="all">
                        <br>
                        <br>
                    </ul>

                    <style>
                        p {
                            line-height: 0.9 em
                        }
                    </style>
                    <p>
                        <font color="black" size="5">
                            Разумеется, здесь собраны не все произведения, которые достойны прочтения. Но на сайте <a href="https://eksmo.ru/podborka-20-knig-kotorye-nuzhno-prochitat-do-30-let/" style="color: #ff8c00">eksmo.ru</a> собрана подборка книг, которые стоит прочесть.
                            Удачи!
                        </font>
                    </p>
                    <br>
                    <br>
                    <br>
                </ol>
            </td>
        </tr>
    </table>
</body>
</html>